# Base blog settings

                              # set to '' in case of hosting on GitHub
url                          : 'http://topologyguides.com/' # the base hostname & protocol for your site
                                  # `http://<username>.github.io` - for GitHub
safe                         : false
blog:
  title                      : Topology Guides
  description                : Guides for 3d Artists

# Layout configuration
  logo_path                  : "favicon.png" # path to logo file
  search_path                : topologyguides.com # "yourgitusername.github.io"
                               # needed for searchbox in archive page
  hero_layout                : false # turn on hero layout for blog and posts
  hero_placeholder           : "assets/img/header.png" # placeholder for hero image
  excerpts                   : false # show excerpts instead of full post content on blog page
  inline_footnotes           : false # enable/disable barefoot inline footnotes
  titles_only                : false # show post titles only on main blog page

# Fonts
  font                       : '"Oswald", "Lora", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif'
  load_google_fonts          : 'Oswald:400,400italic,700,700italic, Lora:400,400italic'


# Author info
author:
  fullname                  : Johnson Martin
  rss                       : true # generate RSS feed and show it's icon in header
  mail                      :  # change to your e-mail address
  twitter                   :
  github                    : TopologyGuides/topologyguides.github.io
  youtube                   :
  stackoverflow             :
  disqus                    : topologyguides # your disqus site name
  google_analytics          : UA-46758601-3
  photo                     : "favicon.png"
  photo2x                   : "favicon.png"



## !!
## Advanced blog settings
## You should not change anything here unless you know what you are doing

# Gems
plugins:
  - jekyll-paginate
  - jekyll-sitemap

# Permalinks
permalink                    : :slug

# Posts
excerpt_separator            : <!–-break-–>

# Pagination
paginate                     : 10
paginate_path                : '/page-:num/'

# Tags
collections:
  my_tags:
    output: true
    permalink: /tag/:slug/
defaults:
  -
    scope:
      path: ""
      type: my_tags
    values:
      layout: blog-by-tag

# Handling Reading
exclude                    : ["README.md", "README.html"]

# https://github.com/jekyll/jekyll/issues/4619
# Markdown and highlighter settings
markdown: kramdown
# !github-pages! mandatory › https://help.github.com/articles/using-jekyll-with-pages/#configuration-settings-you-cannot-change
# Since Jekyll 3 the default highlighter is Rouge (replaced Pygments.rb in v44)
highlighter: rouge

# More › http://kramdown.gettalong.org/quickref.html
# Options › http://kramdown.gettalong.org/options.html
kramdown:
  input:          GFM
  # https://github.com/jekyll/jekyll/pull/4090
  syntax_highlighter: rouge

  # Rouge Highlighter in Kramdown › http://kramdown.gettalong.org/syntax_highlighter/rouge.html
  # span, block element options fall back to global
  syntax_highlighter_opts:
    # Rouge Options › https://github.com/jneen/rouge#full-options
    # css_class: 'highlight'
    #line_numbers: true # bad idea, spans don't need linenos and would inherit this option
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Sass settings
sass:
  sass_dir                : _sass
  style                   : compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings               : all
  endings                 : all
  comments                : ["<!-- ", " -->"]
  blanklines              : true
  profile                 : false
  ignore:
  envs                    : [local]
